streamlit
langchain
PyPDF2
fastapi
uvicorn
requests
huggingface_hub
transformers
gradio
langchain_google_genai
ctransformers
pandas
numpy
torch
google-generativeai
groq
langchain_community
langchain_core